# PostgreSQL
POSTGRES_DB=energyshark
POSTGRES_USER=energyshark
POSTGRES_PASSWORD=change_me

# RabbitMQ
RABBITMQ_HOST=broker.iic2173.org
RABBITMQ_PORT=5671
RABBITMQ_VHOST=energy
RABBITMQ_USER=replace_with_assigned_user
RABBITMQ_PASSWORD=replace_with_assigned_password
RABBITMQ_QUEUE=observer.XX.q

# Comunicación interna entre contenedores
MASTER_URL=http://master:8000/events
