# Entorno virtual de Python
.venv/

# Variables privadas
.env

# Credenciales y llaves
*.pem

# Archivos generados por Python
__pycache__/
*.py[cod]

# Archivos del sistema y editores
.DS_Store
.vscode/